<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IBM User Group Conference Event Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="IBM User Group Conferenceのご案内です">
<meta name="keywords" content="IBM User Group Conference,IBM Cloud,IBM,ユーザーグループ,カンファレンス">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-opening.css">
<link rel="stylesheet" href="css/lightbox.min.css">
<script src="js/fixmenu_pagetop.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/scroll.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<style>
#menubar {position:absolute;bottom:10%;}
#menubar li {width:15%;float:left;margin-left:3%;position:relative;}
#menubar li:hover {width:15%;}
</style>
<![endif]-->
</head>

<body>

<header>

<h1>IBM User Group Conference</h1>

<ul id="menubar">
<li id="menu1"><a href="#news"><img src="images/img1.jpg" alt=""><span>About<br>カンファレンス概要</span></a></li>
<li id="menu2"><a href="#TableOfContents"><img src="images/img2.jpg" alt=""><span>Table Of Contents<br>セッション内容</span></a></li>
<li id="menu3"><a href="#speakers"><img src="images/img3.jpg" alt=""><span>Speakers<br>登壇者のご紹介</span></a></li>
<li id="menu4"><a href="#contact"><img src="images/img5.jpg" alt=""><span>Contact<br>お問い合わせ</span></a></li>
</ul>

</header>

<div class="contents" id="news">
	<div class="inner">
		<section>
			<h2>What's New<span>お知らせ</span></h2>
			<dl id="new">
				<dt>2020/05/12</dt>
				<dd>サイト公開。<span class="newicon">NEW</span></dd>
			</dl>

		</section>
		<section>
			<h2>IBM User Group Conference！</h2>

			<h3>カンファレンス概要</h3>
			<p>
				現在、IBM CloudやIBM発のOSSは常に進化をしながら開発に貢献しています。この動きに合わせて、多くのUser Groupが日々、多くの情報を発信してきました。
				当カンファレンスはこうしたUser Groupが一堂に会する機会を作り、最新情報に触れなが技術に携わる皆さんとの交流と情報発信を行うことを目的にしています。
				
			</p>
			<h3>開催日程</h3>
			<p>
				Day 1 : 2020 年 6 月 25 日(木) 19:00〜21:00
			</p>
			<p>
				Day 2 : 2020 年 6 月 26 日(金) 19:00〜21:00
			</p>

			<h3>企画運営コミュニティ一覧</h3>
				
			<div style="margin-left: 10px;">
				- IBM Cloud User Group(BMXUG) 
				<a href="https://bmxug.connpass.com/" target="blank">HP</a>
				<a href="https://goo.gl/forms/sa8eHJLD6KlmD5sV2" target="blank">Join Slack</a>
				<a href="https://twitter.com/bluemixjp" target="blank">Twitter</a>
				<a href="https://www.facebook.com/groups/bmxug" target="blank">facebook</a>
				<br>
				- Japan IBM Middleware Users Community (JIMUC)
				<a href="https://jimuc.amebaownd.com/" target="blank">HP</a>
				<br>
				- Kabanero Meetup
				<br>
				- Node-RED User Group
				<a href="https://nodered.jp/" target="blank">HP</a>
				<a href="https://nodered.jp/slack/" target="blank">Join Slack</a>
				<a href="https://twitter.com/noderedjp" target="blank">Twitter</a>
				<a href="https://www.facebook.com/groups/noderedjp/" target="blank">facebook</a>
				<br>
				- TJBot User Group
				<br>   
				- IBM 見習い隊
				<br>
			</div>
			<p></p>
			<h3>カンファレンスへの参加方法について</h3>
			<h4>セッション形式</h4>
			<p>youtube Liveでの配信を予定しています。新着情報をお知らせするためにConnpassでの参加登録をお願いいたします。</p>

			<h4>ハンズオン形式</h4>
			<p>動画を視聴しながら手を動かす形式です。途中での質問などはSlackを通して回答します。</p>
			<p>
				セッションやカンファレンスへの登録は<a href="https://bmxug.connpass.com/" class="btn-square-pop" target="blank">こちら！</a><br>
				(Connpassの申込サイトが開きます。)
			</p>

			<h3>登壇者募集中！</h3>
			<p>
				Call For Paperは<a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
				class="btn-square-pop" target="blank">こちら</a>から提出できます！<br>(Google Formsが開きます)
			</p>
		</section>
		<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" style="padding-top:5px" class="twitter-share-button" data-text="IBM User Group Conference に参加しましょう！" data-url="https://ibm-user-group-conf.eu-de.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->


<div class="contents bg1" id="TableOfContents">
	<div class="inner">
		<section>
			<h2>Table Of Content<span>カンファレンスのコンテンツについて</span></h2>				
			<table class="ta1">
				<caption>Day 1</caption>
				<tr>
					<th>セッションレーン</th>
					<th>Cognitive Computing & AI</th>
					<th>Cloud-Native</th>
					<th>IoT</th>
					<th>Call for Code</th>
					<th>Think</th>
				</tr>
				<tr>
					<th>19:00-<br>20:00</th>
					<td colspan="5"> 
						Day1 Keynote：<br>(仮) AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？
					</td>
				</tr>
				<tr>
					<th>20:00-<br>20:20</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:20-<br>20:40</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:40-<br>21:00</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<table class="ta1">
				<caption>Day 2</caption>
				<tr>
					<th>セッションレーン</th>
					<th>Cognitive Computing & AI</th>
					<th>Cloud-Native</th>
					<th>IoT</th>
					<th>Call for Code</th>
					<th>Think</th>
				</tr>
				<tr>
					<th>19:00-<br>20:00</th>
					<td colspan="5">  
						Day2 Keynote :<br> (仮) IBMとテクノロジー発展に見る将来像
					</td>
				</tr>
				<tr>
					<th>20:00-<br>20:20</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:20-<br>20:40</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:40-<br>21:00</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<p>
				セッションやカンファレンスへの登録は<a href="https://bmxug.connpass.com/" class="btn-square-pop" target="blank">こちら！</a><br>
				(Connpassの申込サイトが開きます。)
			</p>

			<h3>登壇者募集中！</h3>
			<p>
				Call For Paperは<a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
				class="btn-square-pop" target="blank">こちら</a>から提出できます！<br>(Google Formsが開きます)
			</p>		
		</section>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->

<div class="contents" id="speakers">

	<div class="inner">
	
	<section>

	<h2>Speakers<span>登壇者</span></h2>
	
	<p>登壇者の情報はこちらに</p>

	<table>
		<tr>
			<th>
				<a href="images_photo/sample1.jpg" data-lightbox="group1" data-title="登壇者のお名前を入れます。">
					<figure style="width: 150px;"><img src="images_photo/sample1_mini.jpg" alt="登壇者のお名前。"></figure>
				</a>				
			</th>
			<td>
				<p style="margin-left: 10px;">
					登壇者情報(DUMMY)<br>
					<a href="https://twitter.com/motumotuo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-text="IBM User Group Conference に参加しましょう！" data-url="https://ibm-user-group-conf.eu-de.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Follow @motumotuo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</p>
			</td>
		</tr>
	</table>

	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div class="contents bg2" id="contact">

	<div class="inner">
	
	<section>

	<h2>Contact<span>コンタクト</span></h2>
		<p class="c"><span class="big1">sample-mail@sample.mail</span>（※例です）</p>
		<p class="c">実際にメールアドレスを書いてしまうと、迷惑メールがたくさん届き出す可能性があるので、<br>それがNGな場合は画像で作っておくか、Connpassへ誘導しましょう。</p>	
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<footer>
<small>Copyright&copy; <a href="index.html">IBM User Group Conference 運営</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--lightbox用jsファイル読み込み-->
<script src="js/lightbox-plus-jquery.min.js"></script>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

</body>
</html>
