<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101753399-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-101753399-2');
</script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IBM User Group Conference 2020 Event Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="現在、IBM CloudやIBM発のOSSは常に進化をしながら開発に貢献しています。この動きに合わせて、多くのUser Groupが日々、様々な情報を発信してきました。
IBM User Group Conferenceはこうしたユーザーグループが一堂に会する機会を作り、最新情報に触れながら技術に携わる皆さんとの交流と情報発信を行うことを目的にしています。">
<meta name="keywords" content="IBM User Group Conference,IBM Cloud,IBM,ユーザーグループ,カンファレンス">
<meta property="og:description" content=" 多くのUser GroupがIBM製品やOSSに関する、様々な情報を発信してきました。
IBM User Group Conferenceはこうしたユーザーグループが一堂に会する機会を作り、最新情報に触れながら交流と情報発信を行うことを目的にしています。" />
<meta property="og:url" content="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" />
<meta property="og:type" content=" website" />
<meta property="og:title" content="IBM User Group Conference 2020を開催します！" />
<meta property="og:site_name" content="IBM User Group Conference 2020 Event Page" />
<meta property="og:image" content="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/images/IUGC_logo_black.png" />
<meta name="twitter:card" content="summary_large_image" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-opening.css">
<link rel="stylesheet" href="css/lightbox.min.css">
<link rel="stylesheet" href="css/modaal.min.css">
<script src="js/fixmenu_pagetop.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/scroll.js"></script>
<script src="js/modaal.min.js"></script>
<script>$('.modaal').modaal();</script>
</head>

<body>

<header class="site-header">
	<h1 class="site-logo"><img src="images/IUGC_logo_black.png" alt="IBM User Group Conference"></h1>
	<nav class="gnav">
		<ul class="gnav__menu">
			<li id="menu1" class="gnav__menu__item"><a href="#news">カンファレンス概要</a></li>
			<li id="menu2" class="gnav__menu__item"><a href="#TableOfContents">Table Of Contents</a></li>
			<li id="menu3" class="gnav__menu__item"><a href="#speakers">登壇者のご紹介</li>
			<li id="menu4" class="gnav__menu__item"><a href="#support">支援・協賛</li>
			<li id="menu5" class="gnav__menu__item"><a href="#contact">Contact</li>
		</ul>
	</nav>
</header>

<div class="inner bg">
	<div class="box">
		<p class="event-date">25-26, June 2020 - Digital online event</p>
		<p class='event-title'>IBM USER GROUP CONFERENCE</p>
		<p style="color: white;">
			現在、IBM CloudやIBM発のOSSは常に進化をしながら開発に貢献しています。
		</p>
		<p style="color: white;">
			この動きに合わせて、多くのUser Groupが日々、様々な情報を発信してきました。
		</p>
		<p style="color: white;">
			当カンファレンスはこうしたUser Groupが一堂に会する機会を作り、
		</p>
		<p style="color: white;">
				最新情報に触れながら技術に携わる皆さんとの交流と情報発信を行うことを目的にしています。				
		</p>
	</div>
	<button>
		<a href="https://iugc.connpass.com/event/176351/" target="blank" class="entry-link">参加登録</a>
	</button>
</div>


<div class="contents" id="news">
	<div style="text-align: center;">
		choose language:
		<a href="/">JAPANESE</a>
		<a href="/en">ENGLISH</a>	
	</div>
	<div class="inner">
		<section>
			<h4>What's new</h4>
			<dl id="new">
				<dt>2020/06/11</dt>
				<dd>セッションや登壇者を追加！<span class="newicon">NEW</span></dd>
				<dt>2020/05/12</dt>
				<dd>サイト公開。</dd>
			</dl>
			<h2>IBM User Group Conference！</h2>			
			<h3>カンファレンス概要</h3>
			<p>
				現在、IBM CloudやIBM発のOSSは常に進化をしながら開発に貢献しています。この動きに合わせて、多くのUser Groupが日々、様々な情報を発信してきました。
				当カンファレンスはこうしたUser Groupが一堂に会する機会を作り、最新情報に触れながら技術に携わる皆さんとの交流と情報発信を行うことを目的にしています。				
			</p>
			<p>
				また、本カンファレンスは、IBM系の各ユーザーコミュニティ共催のカンファレンスになります。
				各コミュニティ間の交流、各分野でのテクノロジー情報のキャッチアップ、各コミュニティでの活動のシェアなどを元に、IBMユーザーコミュニティを全体的に盛り上げていきましょう！
			</p>
			<h3>
				本カンファレンスの魅力
			</h3>
			<p style="padding-bottom: 0px;">
				IBMのテクノロジー、プロダクト、サービスへ興味のある方、利用している方は是非参加しましょう！
				いろいろなIBM系ユーザーコミュニティからの情報が盛りだくさんのカンファレンスです。
			</p>
			<ul>
				<li>
					各ユーザーコミュニティから、第一線で活躍しているメンバーが登壇します。最新情報や活動内容、テクニカルセッションまで盛りだくさんです。
				</li>
				<li>
					ユーザーコミュニティは、その名の通り同じサービスや製品を利用しているユーザー同士が集う場所。あなたも仲間入りするチャンスです。
				</li>
				<li>
					このカンファレンスは日本のコミュニティが主催しますが、デジタルならではで海外からのスピーカー、オーディエンスも迎えての開催です。
				</li>
				<li>
					各方面のエキスパートが大勢参加します。素晴らしいインスピレーションを得ましょう。
				</li>
				<li>
					ユーザーコミュニティはサイロになりがちです。他のコミュニティとの交流を積極的に行いましょう。
				</li>
				<li>
					カンファレンスの魅力は同じ目的を持った人との出会い。国内外問わず参加者同士つながりましょう。
				</li>
			</ul>

			<h3>開催日程</h3>
			<p>
				Day 1 : 2020 年 6 月 25 日(木) 19:00〜21:00
			</p>
			<p>
				Day 2 : 2020 年 6 月 26 日(金) 19:00〜21:00
			</p>
			<p></p>
			<h3>カンファレンスへの参加方法について</h3>
			<h4>セッション形式</h4>
			<p>youtube Liveでの配信を予定しています。新着情報をお知らせするためにConnpassでの参加登録をお願いいたします。</p>

			<h4>ハンズオン形式</h4>
			<p>動画を視聴しながら手を動かす形式です。途中での質問などはSlackを通して回答します。</p>
			<p>
				セッションやカンファレンスへの登録は<a href="https://iugc.connpass.com/event/176351/" class="btn-square-pop" target="blank">こちら！</a><br>
				(Connpassの申込サイトが開きます。)
			</p>

			<h3>登壇者募集中！</h3>
			<p>
				Call For Paperは<a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
				class="btn-square-pop" target="blank">こちら</a>から提出できます！<br>(Google Formsが開きます)
			</p>
		</section>
		<div class="sns_share">
			<div class="fb_share">
				<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
			</div>
			<div class="twitter_share">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" style="padding-top:5px" class="twitter-share-button" data-text="IBM User Group Conference に参加します！" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>				
			</div>
		</div>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->


<div class="contents bg1" id="TableOfContents">
	<div class="inner">
		<section>
			<h2>Table Of Content<span>カンファレンスのコンテンツについて</span></h2>
			<span>タイトルをクリックするとセッションの詳細が表示されます。</span>				
			<table class="ta1">
				<caption>Day 1</caption>
				<tr>
					<th style="width: 50px;">セッションレーン</th>
					<th>Track1</th>
					<th>Track2</th>
				</tr>
				<tr>
					<th style="width: 50px;">19:00-<br>20:00</th>
					<td colspan="2"> 
						<span data-modaal-content-source="#day1_keynote" class="modaal" id="session1_1">
							Day1 Keynote：AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？<br>
						</span>
						<p class="speaker">Speaker:<a class="speaker" href="#kohei_nishikawa">西川 浩平</a>/ <a class="speaker" href="#seigo_tanaka">田中 正吾</a>
						<div id="day1_keynote" style="display:none;">
							<h4>AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？</h4>
							<p>内容は後日、公開します。</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:00-<br>20:20</th>
					<td>
						<span data-modaal-content-source="#session1_1_1_mod" class="modaal" id="session1_1_1">node-redと衛星画像を使って、リアルタイムに経済活動を簡単に解析する</span><br>
						<p class="speaker">Speaker:山口 章</p>
						<div id="session1_1_1_mod" style="display:none;">
							<h4>node-redと衛星画像を使って、リアルタイムに経済活動を簡単に解析する</h4>
							<p>
								node-redと衛星画像(夜間光)を使って、リアルタイムに経済活動を簡単に解析するミニアプリを作りました。その解析結果と発表されたGDPが正しく相関することを確認しました。
							</p>
							<p>
								中国本土の内部文書：消費電力とGDPデータ（月次）　から　 
								 消費電力とGDPの相関データを出しました。これをもとに
								NASAの夜間光画像（毎日更新されている）から、中国本土の
								毎日のGDPを夜間光画像をツイートするだけで、算出できるようにしました。
							</p>
							<p>				
								うれしいこと：中国本土内の各産業の生産高が分かる。よって、<br>
								例：石油（現物＆先物）需要　→　価格が大体わかる
							</p>
						</div>
					</td>
					<td>
						<span data-modaal-content-source="#session1_2_1_mod" class="modaal" id="session1_2_1">Watson Discoveryによる回答の適切性改善</span><br>
						<a href="#kazuki_masuda" class="speaker">Speaker:増田 和紀</p>
						<div id="session1_2_1_mod" style="display:none;">
							<h4>Watson Discoveryによる回答の適切性改善</h4>
							<p>
								JIMUC(Japan IBM Middleware User Community) API&Watson Knowledgebase 分科会 活動のご紹介  
							</p>
							<p>
								Watson分科会では、公開されているプリウスのマニュアルをDiscoveryに投入し、質問と回答のセットを作りその適切性をKPIとして測定しています。
								Discoveryには、照会拡張、ストップワード、Smart Document Understanding、Watson Knowledge Studioとの連携、機械学習による関連性改善などの自然言語の回答の適切性を向上させるための様々な機能があります。
								分科会メンバーは、これらの機能を駆使し80点の適切性を達成するため、改善を行っており、その結果をお伝えできると思います。								
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:20-<br>20:40</th>
					<td></td>
					<td>
						<span data-modaal-content-source="#session1_2_2_mod" class="modaal" id="session1_2_2">IBM Champion Programについて</span><br>
						<a href="#taiji_hagino" class="speaker">Speaker:萩野　たいじ</a>
						<div id="session1_2_2_mod" style="display:none;">
							<h4>IBM Champion Programについて</h4>
							<p>
								IBM Champion ProgramについてIBMユーザーの参加者へご説明します。
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:40-<br>21:00</th>
					<td>
						<span data-modaal-content-source="#session1_1_3_mod" class="modaal" id="session1_1_3">学生IBM ChampionによるIBM Cloudの活用例</span><br>
						<p class="speaker">Speaker:髙尾凌我</p>
						<div id="session1_1_3_mod" style="display:none;">
							<h4>学生IBM ChampionによるIBM Cloudの活用例</h4>
							<p>
							</p>
						</div>
					</td>
					<td>
						<span data-modaal-content-source="#session1_2_3_mod" class="modaal" id="session1_2_3">今、開発者にできること。「Call for Codeグローバルチャレンジ」について知っておこう！</span><br>
						<a href="#aya_tokura" class="speaker">Speaker:戸倉 彩</a>
						<div id="session1_2_3_mod" style="display:none;">
							<h4>今、開発者にできること。「Call for Codeグローバルチャレンジ」について知っておこう！</h4>
							<p>
								2018年にスタートしたCall for Codeグローバルチャレンジ。2019は、日本を含めて165カ国、18万人を超える方々が参加しました。
								今年は「気候変動」に加えて「新型コロナウイルス」の対策に役立つソリューション開発コンテストを開催中です。
								当セッションではCall for Codeグローバルチャレンジの魅力と、応募方法について分かりやすく解説していきます。
							</p>
						</div>
					</td>
				</tr>
			</table>
			<span>タイトルをクリックするとセッションの詳細が表示されます。</span>
			<table class="ta1">
				<caption>Day 2</caption>
				<tr>
					<th style="width: 50px;">セッションレーン</th>
					<th>Track1</th>
					<th>Track2</th>
				</tr>
				<tr>
					<th style="width: 50px;">19:00-<br>20:00</th>
					<td colspan="2"> 
						<span data-modaal-content-source="#day2_keynote" class="modaal" id="session2_1">
							Day2 Keynote :ユーザーコミュニティと歩むIBMの未来
						</span><br>
						<a class="speaker" href="#ibm_da">Speaker:IBM Developer Advocateのみなさん</p>
						<div id="day2_keynote" style="display:none;">
							<h4>ユーザーコミュニティと歩むIBMの未来</h4>
							<p>
								1. Developer Relationsがもたらす効果：萩野 たいじ さん 15min<br>
								2. IBMと開発者コミュニティのこれから：小薗井 康志 さん 15min<br>
								3. パネルディスカッション（パネリスト：戸倉さん、西戸さん、加藤さん、小薗井さん、モデレータ：萩野さん）30min<br>
								■スピーカー(IBM Developer Advocateの皆様)<br>
								萩野 たいじ さん<br>
								小薗井 康志 さん<br>
								西戸 京子 さん<br>
								戸倉 彩 さん<br>
								加藤 典子 さん<br>
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:00-<br>20:20</th>
					<td>
						<span data-modaal-content-source="#session2_1_1_mod" class="modaal" id="session2_1_1">AIは美味しいホルモン焼きを食べるか？</span><br>
						<a class="speaker" href="#miho_ezawa">Speaker:江澤 美保</p>
						<div id="session2_1_1_mod" style="display:none;">
							<h4>AIは美味しいホルモン焼きを食べるか？</h4>
							<p>
								Watsonの画像認識機能を使って、食生活を充実させるための試み ＆ Call for Code 2020へ参加した感想をお話しします。
							</p>
						</div>
					</td>
					<td>
						<span data-modaal-content-source="#session2_1_2_mod" class="modaal" id="session2_1_2">codewindで実現！簡単コンテナ開発</span><br>
						<a class="speaker" href="#yosuke_enomoto">Speaker:榎本 陽祐</p>
						<div id="session2_1_2_mod" style="display:none;">
							<h4>codewindで実現！簡単コンテナ開発</h4>
							<p>
								クラウドネイティブな開発を加速するVS Codeの拡張機能。Codewindを使ってnode.jsアプリケーションを即座にk8sにデプロイする方法を紹介します。
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:20-<br>20:40</th>
					<td></td>
					<td>
						<span data-modaal-content-source="#session2_2_2_mod" class="modaal" id="session2_2_2">T.B.D( Kabanero +  OpenShift)</span><br>
						<p class="speaker">Speaker:平岡 大祐</p>
						<div id="session2_2_2_mod" style="display:none;">
							<h4>T.B.D( Kabanero +  OpenShift)</h4>
							<p>

							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:40-<br>21:00</th>
					<td></td>
					<td>
						<span data-modaal-content-source="#session2_2_3_mod" class="modaal" id="session2_2_3">IBMが考えていること<br>
							　ー新しいコミュニティー”IBM Community Japan"の発足ー</span><br>
						<p class="speaker">Speaker:郷　みさき</p>
						<div id="session2_2_3_mod" style="display:none;">
							<h4>IBM Community Japanの概要発表</h4>
							<p>
								
							</p>
						</div>
					</td>
				</tr>
			</table>
			<p>
				セッションやカンファレンスへの登録は<a href="https://iugc.connpass.com/event/176351/" class="btn-square-pop" target="blank">こちら！</a><br>
				(Connpassの申込サイトが開きます。)
			</p>

			<h3>登壇者募集中！</h3>
			<p>
				Call For Paperは<a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
				class="btn-square-pop" target="blank">こちら</a>から提出できます！<br>(Google Formsが開きます)
			</p>
			<div class="sns_share">
				<div class="fb_share">
					<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
				</div>
				<div class="twitter_share">
					<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" style="padding-top:5px" class="twitter-share-button" data-text="IBM User Group Conference に参加します！" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>				
				</div>
			</div>
		</section>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->

<div class="contents" id="speakers">

	<div class="inner">
	
	<section>
		<h2>Speakers<span>登壇者</span></h2>
		
		<p>豪華スピーカー陣は今後どんどん追加予定です！
			登壇希望の方は<a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
			class="btn-square-pop" target="blank">こちら</a>からCfPをお送り下さい。
		</p>

		<table>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/seigo_tanaka.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="田中　正吾 <br>担当セッション:<br>AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？">
						<figure style="width: 150px;"><img src="images/profiles/seigo_tanaka.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="seigo_tanaka">
						田中　正吾 <a href="#session1_1">担当セッション:AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？</a><br>
						屋号ワンフットシーバスとして、フリーランスのエンジニアとして活動。2018-2021 IBM Champion。フロントエンジニアを軸に、ユーザーインターフェースやデータを絡めた、 クラウド技術・IoT・Mixied Reality・AIなど様々な制作に関わる。その知見を活かし、日本初のプロトタイピング専門スクール「プロトアウトスタジオ」で講師を務めています。
						<br>
						<a href="https://twitter.com/1ft_seabass?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @1ft_seabass</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/kazuki_masuda.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="増田 和紀 <br>担当セッション:<br>Watson Discoveryによる回答の適切性改善">
						<figure style="width: 150px;"><img src="images/profiles/kazuki_masuda.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="kazuki_masuda">
						増田 和紀 <a href="#session1_2_1">担当セッション:Watson Discoveryによる回答の適切性改善</a><br>
						2018年　エレメンタムコンサルティングLLC設立<br>
						チーフコンサルタント<br>
						情報セキュリティコンサルティング<br>
						人工知能コンサルティング<br>
						JIMUC(Japan IBM Middleware User Community)副会長<br>
						API&Watson Knowledgebase分科会担当<br>
						2016年よりIBM Champion継続
						<br>
						<a href="https://twitter.com/masuda_kazuki?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @masuda_kazuki</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/kohei_nishikawa.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="西川 浩平 <br>担当セッション:<br>AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？">
						<figure style="width: 150px;"><img src="images/profiles/kohei_nishikawa.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="kohei_nishikawa">
						西川 浩平 <a href="#session1_1">担当セッション:AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？</a><br>
						2020 IBM Champion / 開志専門職大学情報学部講師。
						某中堅SIerにて、アーキテクトや企画業務、プリセールスエンジニア、運用保守、ヘルプデスクチーム運営などを経て、2017年よりIBM Championを継続。
						2017年～2020年1月まで、「Watson開発道場」の講師を務め、多くのクラウド・AI人材の育成に貢献。
						クラウド黎明期から10年以上に渡りクラウドに関わり続け、2020年4月に開志専門職大学に着任、現職。
						千葉大学病院 メディカルイノベーション戦略プログラム講師を兼任。
						<br>
						<a href="https://twitter.com/kolinz?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @kolinz</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/miho_ezawa.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="江澤 美保 <br>担当セッション:<br>AIは美味しいホルモン焼きを食べるか？">
						<figure style="width: 150px;"><img src="images/profiles/miho_ezawa.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="miho_ezawa">
						江澤 美保 <a href="#session2_1_1">担当セッション:AIは美味しいホルモン焼きを食べるか？</a><br>
						企業向けWebポータル製品の開発、大規模事務管理の海外移管プロジェクト、決済サービスのフィールドエンジニア等を経て先端技術の法人営業に転向。
						2015 年よりIBM Watsonに携わり、経営層へのWatson導入提案を多く経験。現在は企業のAI導入支援を手掛けるAIコンサルタント・エンジニアとして活動中。
						2019/2020 IBM Champion。著書に「現場で使える! Watson開発入門 」「現場で使える!Python自然言語処理入門」（いずれも翔泳社）。
						<br>
						<a href="https://twitter.com/mihoicchi?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @mihoicchi</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/yosuke_enomoto.jpeg" data-lightbox="group1" data-title="榎本 陽祐 <br>担当セッション:<br>codewindで実現！簡単コンテナ開発">
						<figure style="width: 150px;"><img src="images/profiles/yosuke_enomoto.jpeg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="yosuke_enomoto">
						榎本 陽祐 <a href="#session2_1_2">担当セッション:codewindで実現！簡単コンテナ開発</a><br>
						株式会社ジョーレン所属Webアプリケーションエンジニア。「松戸のWeb企業といえばジョーレン」というイメージを世に広げるべく活動中。
						bmxug.tokyoを主催。2019-2020 年連続してIBM Championに認定されました。
						<br>
						<a href="https://twitter.com/motumotuo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-text="I'll join at the IBM User Group Conference!" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Follow @motumotuo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
		</table>

		<h3 id="ibm_da">IBM Developer Advocate のみなさん</h3>
		<table>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/yasushi_osonoi.jpg" data-lightbox="group1" data-title="小薗井 康志 <br>担当セッション:<br>ユーザーコミュニティと歩むIBMの未来">
						<figure style="width: 150px;"><img src="images/profiles/yasushi_osonoi.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;">
						小薗井 康志 <a href="#session2_1">担当セッション:ユーザーコミュニティと歩むIBMの未来</a><br>
						某CPUメーカーでハードウェアのエンジニアとしてスタート　 2007年にOSS,ソフトウェアの最適化に燃え起業。しかしその後サラリーマンに復帰。マーケティング職、プリセールス、開発エンジニアなど職を転々とし、現在はIBMで開発者向けの啓蒙活動、Developer Advocateをしています。
						<br>
						<a href="https://twitter.com/osonoi?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @osonoi</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>					
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/aya_tokura.jpg" data-lightbox="group1" data-title="戸倉 彩 <br>担当セッション:<br>ユーザーコミュニティと歩むIBMの未来">
						<figure style="width: 150px;"><img src="images/profiles/aya_tokura.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id='aya_tokura'>
						戸倉 彩 <br><a href="#session2_1">担当セッション:ユーザーコミュニティと歩むIBMの未来</a>: <br><a href="#session1_2_3">今、開発者にできること。「Call for Codeグローバルチャレンジ」について知っておこう！</a><br>
						約17年にわたるセキュリティエンジニア、プロダクトマーケティング、テクニカルエバンジェリスト等の豊富なキャリアに基づく知見を活かし、現在はIBM Developer Advocateとして国内外でIBM CloudやWatsonを軸に最新技術を啓蒙中。<br>
						*日本クラウドセキュリティアライアンス個人会員。
						<br>
						<a href="https://twitter.com/ayatokura?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ayatokura</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/kyoko_nishito.jpg" data-lightbox="group1" data-title="西戸 京子 <br>担当セッション:<br>ユーザーコミュニティと歩むIBMの未来">
						<figure style="width: 150px;"><img src="images/profiles/kyoko_nishito.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;">
						西戸 京子 <a href="#session2_1">担当セッション:ユーザーコミュニティと歩むIBMの未来</a><br>
						日本IBMにて主にIBMの社内システム開発・保守に従事し、要件定義から保守まで、開発者・PM・アーキテクトとして日本、AP各国の生産管理システムや購買システム、IT資産管理システム 等、幅広く経験してきました。2018年4月よりIBM Developer Advocateとして活動しています。
						<br>
						<a href="https://twitter.com/KyokoNishito?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @KyokoNishito</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/noriko_kato.jpg" data-lightbox="group1" data-title="加藤 典子 <br>担当セッション:<br>ユーザーコミュニティと歩むIBMの未来">
						<figure style="width: 150px;padding-bottom: 15px;"><img src="images/profiles/noriko_kato.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;">
						加藤 典子 <a href="#session2_1">担当セッション:ユーザーコミュニティと歩むIBMの未来</a><br>
						親の介護をきっかけにIoTを学び、現在はラズパイ＆Cloudの紙型ロボット”TJBot”の普及活動に従事。
						非IT＆ITをゆるく行き来し核家族を”それなり”に20数年運用、いまは成人した子供達とシェアハウスのようなくらしを楽しんでます。
						最近の趣味は年代物のウィスキーに巡り合うこと。
						<br>
						<a href="https://twitter.com/noricokt?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @noricokt</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="images/profiles/taiji_hagino.jpg" data-lightbox="group1" data-title="萩野 たいじ <br>担当セッション:<br>ユーザーコミュニティと歩むIBMの未来<br>IBM Champion Programについて">
						<figure style="width: 150px;"><img src="images/profiles/taiji_hagino.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id='taiji_hagino'>
						萩野 たいじ <a href="#session2_1">担当セッション:ユーザーコミュニティと歩むIBMの未来</a>：<a href="#session1_2_2">IBM Champion Programについて</a><br>
						元美容師にて元音楽家。ソフトウェアエンジニアへ転身後、有限会社アキュレートシステムを起業。 その後商社系SIerを経て、現在はIBM GlobalチームにてDeveloper Advocateとして、技術者へリーチしたマーケティングDevRel(Developer Relations)を展開。筑波大学の非常勤講師。
						<br>
						<a href="https://twitter.com/taiponrock?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @taiponrock</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>					
					</p>
				</td>
			</tr>
		</table>
		<p></p>
		<div class="sns_share">
			<div class="fb_share">
				<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
			</div>
			<div class="twitter_share">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" style="padding-top:5px" class="twitter-share-button" data-text="IBM User Group Conference に参加します！" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>				
			</div>
		</div>		
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->


<div class="contents bg1" id="support">

	<div class="inner">
	
	<section>
	<h2>支援・協賛</h2>
		<div style="text-align: center;">
			<p>
				本イベントは各ユーザーコミュニティの有志の方々により運営しております。<br>
				協力頂いているすべての団体、企業、個人へ感謝いたします。
			</p>	
		</div>
		<div style="display: flex;">
			<img src='images/bmxug.jpg' class="top_image">
			<p>
				IBM Cloud User Group(BMXUG)<br>
				<a href="https://bmxug.connpass.com/" target="blank">HP</a>
				<a href="https://goo.gl/forms/sa8eHJLD6KlmD5sV2" target="blank">Join Slack</a>
				<a href="https://twitter.com/bluemixjp" target="blank">Twitter</a>
				<a href="https://www.facebook.com/groups/bmxug" target="blank">facebook</a> 	
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='images/jimuc.png' class="top_image">
			<p>
				Japan IBM Middleware Users Community (JIMUC)<br>
				<a href="https://jimuc.amebaownd.com/" target="blank">HP</a>
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='images/no-image.png' class="top_image">
			<p>
				Kabanero Meetup
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='images/node-red-ico.png' class="top_image">
			<p>
				Node-RED User Group<br>
				<a href="https://nodered.jp/" target="blank">HP</a>
				<a href="https://nodered.jp/slack/" target="blank">Join Slack</a>
				<a href="https://twitter.com/noderedjp" target="blank">Twitter</a>
				<a href="https://www.facebook.com/groups/noderedjp/" target="blank">facebook</a>
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='images/tjbot.jpg' class="top_image">
			<p>
				TJBot Fan
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='images/no-image.png' class="top_image">
			<p>
				IBM 見習い隊
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='images/no-image.png' class="top_image">
			<p>
				水曜ワトソンカフェ
			</p>
		</div>
	</section>

	</div>
	<!--/.inner-->

</div>

<div class="contents bg2" id="contact">

	<div class="inner">
	
	<section>

	<h2>Contact<span>運営への連絡方法</span></h2>
		<p class="c"><span class="big1">お問い合わせは<a href="https://iugc.connpass.com/event/176351/" target="blank">Connpass</a>までお願いいたします！</p>
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div class="contents bg1" id="code_of_conduct">

	<div class="inner">
	
	<section>
		<h2>CODE OF CONDUCT<span>行動規範</span></h2>
		<p>
			イベント主催者は、参加者が人権侵害や差別を受けることのないよう努力しています。
			本イベントは技術情報の共有や技術者同士のコラボレーションを目指したものです。
			講演者、視聴者、スポンサー、スタッフなどすべての参加者は、いかなる形でもハラスメントに関わってはなりません。
			ハラスメント行為を目撃したり懸念を感じた場合はイベントスタッフに速やかにお知らせください。
		</p>
		<h3>容認できない行為</h3>
		<ul>
			<li>性的な言語や画像の使用</li>
			<li>個人的な攻撃</li>
			<li>侮辱/軽蔑的なコメント</li>
			<li>公的または私的なハラスメント</li>
			<li>許可なく他人の個人情報を公開すること</li>
			<li>その他の非倫理的な行為</li>
		</ul>
		<span>この行動規範は<a href="https://events.linuxfoundation.org/about/code-of-conduct/">Linux Foundation</a>のドキュメントを参考にしています。</span>
		<h3>注意事項</h3>
		<p>
			プログラム内容は予告なく変更する可能性があります。
			開催中の事故・天災・その他の事象によってもたらされたすべての不利益に関して、当勉強会、および会場提供者はその責任を負いかねます。
			以下のような行動を取られた方は、退室いただく場合があります。また次回以降の参加をお断りしますのでご了承下さい。
			過去に以下のような行動を取られた方からのお申込についてもお断りさせていただく場合がございます。<br>
			講師および参加者に対して、勉強会の妨害と見られる言動や行動、人材紹介、転職、マルチ商法、宗教など、本勉強会とは関係のない勧誘など。
		</p>
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0&appId=216303409678802&autoLogAppEvents=1"></script>
<footer>
<small>Copyright&copy; <a href="index.html">IBM User Group Conference 運営</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--lightbox用jsファイル読み込み-->
<script src="js/lightbox-plus-jquery.min.js"></script>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

</body>
</html>
