<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IBM User Group Conference Event Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="IBM User Group Conferenceのご案内です">
<meta name="keywords" content="IBM Cloud,IBM,カンファレンス,ユーザーグループ">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-opening.css">
<link rel="stylesheet" href="css/lightbox.min.css">
<script src="js/fixmenu_pagetop.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/scroll.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<style>
#menubar {position:absolute;bottom:10%;}
#menubar li {width:15%;float:left;margin-left:3%;position:relative;}
#menubar li:hover {width:15%;}
</style>
<![endif]-->
</head>

<body>

<header>

<h1>IBM Cloud User Conference</h1>

<ul id="menubar">
<li id="menu1"><a href="#news"><img src="images/img1.jpg" alt=""><span>What's New<br>お知らせ</span></a></li>
<li id="menu2"><a href="#TableOfContents"><img src="images/img2.jpg" alt=""><span>Table Of Contents<br>カンファレンス概要</span></a></li>
<li id="menu3"><a href="#gallery"><img src="images/img3.jpg" alt=""><span>Gallery<br>ギャラリー</span></a></li>
<li id="menu4"><a href="#contact"><img src="images/img5.jpg" alt=""><span>Contact<br>お問い合わせ</span></a></li>
</ul>

</header>

<div class="contents" id="news">
	<div class="inner">
		<section>
			<h2>IBM Cloud User Conference 開催！</h2>

			<h3>開催の概要</h3>
			<p>ここに概要を記載しましょう！</p>
			<a href="https://bmxug.connpass.com/" class="btn-square-pop" target="blank">登録はこちら！(Connpassの申込サイトに移動します。)</a>
		</section>

		<section>
			<h2>What's New<span>お知らせ</span></h2>
			<dl id="new">
				<dt>2020/05/12</dt>
				<dd>サンプルサイト公開。<span class="newicon">NEW</span></dd>
				<dt>20XX/00/00</dt>
				<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
			</dl>

		</section>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->


<div class="contents bg1" id="TableOfContents">
	<div class="inner">
		<section>
			<h2>Table Of Content<span>カンファレンスのコンテンツについて</span></h2>				
			<table class="ta1">
				<caption>Day 1</caption>
				<tr>
					<th>19:00〜20:00</th>
					<td colspan="5"> 
						Day1 Keynote：(仮) AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？
					</td>
				</tr>
				<tr>
					<th>セッションレーン</th>
					<th>Cognitive Computing & AI</th>
					<th>Cloud-Native</th>
					<th>IoT</th>
					<th>Call for Code</th>
					<th>Think</th>
				</tr>
				<tr>
					<th>20:00-20:20</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:20-20:40</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:40-21:00</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<table class="ta1">
				<caption>Day 2</caption>
				<tr>
					<th>19:00〜20:00</th>
					<td colspan="5"> 
						Day1 Keynote：(仮) AI、IoT、量子コンピュータ、クラウド、私たちは今何を学んでおけば良いのか？
					</td>
				</tr>
				<tr>
					<th>セッションレーン</th>
					<th>Cognitive Computing & AI</th>
					<th>Cloud-Native</th>
					<th>IoT</th>
					<th>Call for Code</th>
					<th>Think</th>
				</tr>
				<tr>
					<th>20:00-20:20</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:20-20:40</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:40-21:00</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<a href="https://bmxug.connpass.com/" class="btn-square-pop" target="blank">登録はこちら！(Connpassの申込サイトに移動します。)</a>
		</section>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->

<div class="contents" id="gallery">

	<div class="inner">
	
	<section>

	<h2>Gallery<span>ギャラリー</span></h2>
	
	<p>もし、必要だったらこの辺に貼りましょう！</p>
	<p>サムネイル用の写真サイズは適当で構いませんが、必ず「正方形」で準備して下さい。ポップアップ用の大きな画像は自由サイズでOKです。<br>
	ポップアップ用の大きな画像ですが、IEのかなり古いブラウザではウィンドウサイズより大きいと不具合が出たので、当サンプルでは小さめのものを配置しています。が、現在はウィンドウサイズより大きくても問題ないかと思います。</p>

	<div class="list">
	<a href="images_photo/sample1.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample1_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	<div class="list">
	<a href="images_photo/sample2.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample2_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	<div class="list">
	<a href="images_photo/sample3.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample3_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	<div class="list">
	<a href="images_photo/sample4.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample4_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	<div class="list">
	<a href="images_photo/sample5.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample5_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	<div class="list">
	<a href="images_photo/sample6.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample6_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	<div class="list">
	<a href="images_photo/sample7.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample7_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	<div class="list">
	<a href="images_photo/sample8.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample8_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	<div class="list">
	<a href="images_photo/sample9.jpg" data-lightbox="group1" data-title="htmlのdata-title部分で説明を入れる事ができます">
	<figure><img src="images_photo/sample9_mini.jpg" alt="写真の説明を入れます"></figure>
	</a>
	</div>

	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div class="contents bg2" id="contact">

	<div class="inner">
	
	<section>

	<h2>Contact<span>コンタクト</span></h2>
		<p class="c"><span class="big1">sample-mail@sample.mail</span>（※例です）</p>
		<p class="c">実際にメールアドレスを書いてしまうと、迷惑メールがたくさん届き出す可能性があるので、<br>それがNGな場合は画像で作っておくか、Connpassへ誘導しましょう。</p>	
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<footer>
<small>Copyright&copy; <a href="index.html">IBM User Group Conference 運営</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--lightbox用jsファイル読み込み-->
<script src="js/lightbox-plus-jquery.min.js"></script>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

</body>
</html>
