<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101753399-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-101753399-2');
</script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IBM User Group Conference 2020 Event Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Today, the IBM Cloud and OSS from IBM are constantly evolving and contributing to development. 
The IBM User Group Conference is a great opportunity for these user groups to come together The purpose of this event is to create an opportunity to communicate with people who are involved in technology and send out information while being exposed to the latest information.">
<meta name="keywords" content="IBM User Group Conference,IBM Cloud,IBM,ユーザーグループ,カンファレンス">
<meta property="og:description" content=" Many User Groups have been presenting various information about IBM products and OSS.
The IBM User Group Conference is a great opportunity for these user groups to get together The goal is to create opportunities to interact and disseminate information while staying up to date." />
<meta property="og:url" content="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" />
<meta property="og:type" content=" website" />
<meta property="og:title" content="We're hosting the IBM User Group Conference 2020!" />
<meta property="og:site_name" content="IBM User Group Conference 2020 Event Page" />
<meta property="og:image" content="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/images/IUGC_logo_black.png" />
<meta name="twitter:card" content="summary_large_image" />
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/style-opening.css">
<link rel="stylesheet" href="../css/lightbox.min.css">
<link rel="stylesheet" href="../css/modaal.min.css">
<script src="../js/fixmenu_pagetop.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/scroll.js"></script>
<script src="../js/modaal.min.js"></script>
<script>$('.modaal').modaal();</script>
</head>

<body>

<header class="site-header">
	<h1 class="site-logo"><img src="../images/IUGC_logo_black.png" alt="IBM User Group Conference"></h1>
	<nav class="gnav">
		<ul class="gnav__menu">
			<li id="menu1" class="gnav__menu__item"><a href="#news">Overview</a></li>
			<li id="menu2" class="gnav__menu__item"><a href="#TableOfContents">Table Of Contents</a></li>
			<li id="menu3" class="gnav__menu__item"><a href="#speakers">Speakers</li>
			<li id="menu4" class="gnav__menu__item"><a href="#support">Support/Sponsorship</li>
			<li id="menu5" class="gnav__menu__item"><a href="#contact">Contact</li>
		</ul>
	</nav>
</header>

<div class="inner bg">
	<div class="box">
		<p class="event-date">25-26, June 2020 - Digital online event</p>
		<p class='event-title'>IBM USER GROUP CONFERENCE</p>
		<p style="color: white;">
			Today, the IBM Cloud and OSS from IBM are constantly evolving and contributing to development.
		</p>
		<p style="color: white;">
			Many User Groups have been publishing a variety of information daily.
		</p>
		<p style="color: white;">
			The conference provides an opportunity for these User Groups to come together, get up-to-date on the latest information, and learn from each other.
		</p>
		<p style="color: white;">
			The purpose of this event is to communicate with everyone involved in technology and to disseminate information.
		</p>
	</div>
	<button>
		<a href="https://iugc.connpass.com/event/176351/" target="blank" class="entry-link">Entry</a>
	</button>
</div>


<div class="contents" id="news">
	<div style="text-align: center;">
		choose language:
		<a href="/">JAPANESE</a>
		<a href="/en">ENGLISH</a>	
	</div>
	<div class="inner">
		<section>
			<h4>What's new</h4>
			<dl id="new">
				<dt>2020/06/11</dt>
				<dd>Add sessions and speaker's information!<span class="newicon">NEW</span></dd>
				<dt>2020/05/12</dt>
				<dd>site published</dd>
			</dl>
			<h2>IBM User Group Conference！</h2>			
			<h3>Overview</h3>
			<p>
				Today, the IBM Cloud and OSS from IBM are constantly evolving and contributing to development. In line with this trend, many user groups have been publishing various information daily.
				The conference provides an opportunity for these User Groups to come together, get up-to-date on the latest information, and learn from each other. The purpose of this event is to communicate with everyone involved in technology and to disseminate information.
			</p>
			<p>
				The conference will be co-sponsored by various IBM user communities.We make the opportunity to make  interactions between each community, catching up on technology information in each other.Let's get the whole IBM user community going based on activity sharing and more!
			</p>
			<h3>
				Appeal point
			</h3>
			<p style="padding-bottom: 0px;">
				If you are interested in and use IBM's technology, products and services, we encourage you to attend and participate in this event. Let's do it!<br>
				The conference is packed with information from various IBM user communities.
			</p>
			<ul>
				<li>
					Frontline members from each user community will be speaking at this event. There will be a lot of latest information and activities, as well as technical sessions.
				</li>
				<li>
					As the name implies, a user community is a group of users who use the same service or product Location. This is your chance to join the community.
				</li>
				<li>
					The conference is hosted by the Japanese community, but as only digital technology can do, it's a great opportunity for the international community to get involved. We will also welcome speakers and audiences.
				</li>
				<li>
					There will be a lot of experts from all walks of life in attendance. Get great inspiration.
				</li>
				<li>
					The user community tends to be a silo. Let’s interact with other communities.
				</li>
				<li>
					The appeal of the conference is to meet people who share the same goals. Connect with other attendees both at home and abroad.
				</li>
			</ul>

			<h3>Schedule</h3>
			<p>
				Day 1 : 2020 / 6 / 25  19:00〜21:00(JST)
			</p>
			<p>
				Day 2 : 2020 / 6 / 26 19:00〜21:00(JST)
			</p>
			<p></p>
			<h3>How to attend the conference</h3>
			<h4>Sessions</h4>
			<p>It will be available on youtube live. Please register at Connpass to be notified of the latest news!</p>

			<h4>Hands-On</h4>
			<p>The format is hands-on while watching the video. We'll answer questions along the way via Slack.</p>
			<p>
				You can entry from <a href="https://iugc.connpass.com/event/176351/" class="btn-square-pop" target="blank">here!</a><br>
				(An external application site will open.)
			</p>

			<h3>Call for Speakers!</h3>
			<p>
				You can submit your CFP from <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
				class="btn-square-pop" target="blank">here</a>！<br>(Google Forms will open)
			</p>
		</section>
		<div class="sns_share">
			<div class="fb_share">
				<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
			</div>
			<div class="twitter_share">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" style="padding-top:5px" class="twitter-share-button" data-text="IBM User Group Conference に参加します！" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>				
			</div>
		</div>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->


<div class="contents bg1" id="TableOfContents">
	<div class="inner">
		<section>
			<h2>Table Of Content<span></span></h2>
			<span>Click on the title to view the details of the session.</span>
			<table class="ta1">
				<caption>Day 1</caption>
				<tr>
					<th style="width: 50px;">session lane</th>
					<th>Track1</th>
					<th>Track2</th>
				</tr>
				<tr>
					<th style="width: 50px;">19:00-<br>20:00</th>
					<td colspan="2"> 
						<span data-modaal-content-source="#day1_keynote" class="modaal" id="session1_1">
							Day1 Keynote：AI, IoT, quantum computers, the cloud, what do we need to learn now?
						</span>
						<p class="speaker">Speaker:<a class="speaker" href="#kohei_nishikawa">Kohei Nishikawa</a>/ <a class='speaker' href="#seigo_tanaka">Seigo Tanaka</a>
						<div id="day1_keynote" style="display:none;">
							<h4>AI, IoT, quantum computers, the cloud, what do we need to learn now?</h4>
							<p>Coming soon...</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:00-<br>20:20</th>
					<td>
						<span data-modaal-content-source="#session1_1_1_mod" class="modaal" id="session1_1_1">Easily analyze economic activities in real time using node-red and satellite images</span><br>
						<p class="speaker">Speaker:Akira Yamaguchi</p>
						<div id="session1_1_1_mod" style="display:none;">
							<h4>Easily analyze economic activities in real time using node-red and satellite images</h4>
							<p>
								Easily analyze economic activities in real time using node-red and satellite images (night light).
								He created a mini-application and confirmed that the results of that analysis correlated correctly with the published GDP.
							</p>
							<p>
								By internal Chinese documents: power consumption and GDP data (monthly) from
								he have produced data on the correlation between power consumption and GDP. 
								Based on this  NASA's nighttime optical images (updated daily) of GDP in China can be calculated by a nighttime light image.
							</p>
						</div>
					</td>
					<td>
						<span data-modaal-content-source="#session1_2_1_mod" class="modaal" id="session1_2_1">Improving answer adequacy with Watson Discovery</span><br>
						<a href="#kazuki_masuda" class="speaker">Speaker:Kazuki Masuda</p>
						<div id="session1_2_1_mod" style="display:none;">
							<h4>Improving answer adequacy with Watson Discovery</h4>
							<p>
								Introduction of activity about JIMUC(Japan IBM Middleware User Community) API&Watson Knowledgebase   
							</p>
							<p>
								The Watson subcommittee put the publicly available Prius manual into Discovery.
								They measure appropriateness set of questions and answers as a KPI.
								Discovery includes inquiry enhancement, stop words, Smart Document Understanding, Integration with Watson Knowledge Studio.
								There are a variety of features to improve the appropriateness of natural language responses, including improved relevance through learning .
								Subcommittee members are making improvements in these functions to achieve an 80-point and I can tell you the results of that.							
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:20-<br>20:40</th>
					<td></td>
					<td>
						<span data-modaal-content-source="#session1_2_2_mod" class="modaal" id="session1_2_2">About IBM Champion Program</span><br>
						<p class="speaker"><a href="#taiji_hagino" class="speaker">Speaker:Taiji Hagino</a> / <a href="#Herbert_Daly" class="speaker">Dr Herbert Daly</a> /
							<a href="#Takao_Kaburaki" class="speaker">Takao Kaburaki</a>
						<div id="session1_2_2_mod" style="display:none;">
							<h4>About IBM Champion Program</h4>
							<p>
								Learn about the IBM Champion Program for participants who are IBM User Group Conference.
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:40-<br>21:00</th>
					<td>
						<span data-modaal-content-source="#session1_1_3_mod" class="modaal" id="session1_1_3">Examples of IBM Cloud usage by IBM Champions</span><br>
						<p class="speaker">Speaker:Ryoga takao</p>
						<div id="session1_1_3_mod" style="display:none;">
							<h4>Examples of IBM Cloud usage by student IBM Champions</h4>
							<p>
								Coming soon...
							</p>
						</div>
					</td>
					<td>
						<span data-modaal-content-source="#session1_2_3_mod" class="modaal" id="session1_2_3">What developers can do now. Get to know the Call for Code Global Challenge!</span><br>
						<a href="#aya_tokura" class="speaker">Speaker:Aya Tokura</a>
						<div id="session1_2_3_mod" style="display:none;">
							<h4>What developers can do now. Get to know the Call for Code Global Challenge!</h4>
							<p>
								The Call for Code Global Challenge launched in 2018, and 2019 more than 180,000 people from 165 countries participated including Japan.
								This year, in addition to climate change, developing solutions to help combat COVID-19 .
								In this session, we will discuss the appeal of the Call for Code Global Challenge and how to apply I will explain it in simply.
							</p>
						</div>
					</td>
				</tr>
			</table>
			<span>Click on the title to view the details of the session.</span>
			<table class="ta1">
				<caption>Day 2</caption>
				<tr>
					<th style="width: 50px;">session lane</th>
					<th>Track1</th>
					<th>Track2</th>
				</tr>
				<tr>
					<th style="width: 50px;">19:00-<br>20:00</th>
					<td colspan="2"> 
						<span data-modaal-content-source="#day2_keynote" class="modaal" id="session2_1">
							Day2 Keynote :IBM's future with the user community
						</span><br>
						<a class="speaker" href="#ibm_da">Speaker:IBM Developer Advocate Japan Team</p>
						<div id="day2_keynote" style="display:none;">
							<h4>IBM's future with the user community</h4>
							<p>
								1. The Benefits of Developer Relations：Taiji Hagino 15min<br>
								2. The Future of IBM and the Developer Community：Yasushi Osonoi 15min<br>
								3. Panel Discussions30min<br>
								■Speakers (IBM Developer Advocate Japan Team)<br>
								Taiji Hagino<br>
								Yasushi Osonoi<br>
								Kyoko Nishito<br>
								Aya Tokura<br>
								Noriko Kato<br>
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:00-<br>20:20</th>
					<td>
						<span data-modaal-content-source="#session2_1_1_mod" class="modaal" id="session2_1_1">Does the AI eat good barbecue?</span><br>
						<a class="speaker" href="#miho_ezawa">Speaker:Miho Ezawa</p>
						<div id="session2_1_1_mod" style="display:none;">
							<h4>Does the AI eat good barbecue?</h4>
							<p>
								How to improve her food habits using Watson ＆ how felt about participating in Call for Code 2020.
							</p>
						</div>
					</td>
					<td>
						<span data-modaal-content-source="#session2_1_2_mod" class="modaal" id="session2_1_2">Codewind makes easy Container Development</span><br>
						<a class="speaker" href="#yosuke_enomoto">Speaker:Yosuke Enomoto</p>
						<div id="session2_1_2_mod" style="display:none;">
							<h4>Codewind makes easy Container Development</h4>
							<p>
								Codewind is Extensions for VS Code to accelerate cloud-native development.
								Using this, introduce how deploy node.js application easy and speedy.
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:20-<br>20:40</th>
					<td></td>
					<td>
						<span data-modaal-content-source="#session2_2_2_mod" class="modaal" id="session2_2_2">Modernization of Java EE Applications using Kabanero ~episode 0~</span><br>
						<a href="#daisuke_hiraoka" class="speaker">Speaker:Daisuke Hiraoka</p>
						<div id="session2_2_2_mod" style="display:none;">
							<h4>Modernization of Java EE Applications using Kabanero ~episode 0~</h4>
							<p>
								In this session as "Modernization of Java EE Applications using Kabanero episode 0",
								I would like to introduce an overview of Kabanero, the development workflow, and the installation of Kabanero in OpenShift 4.4.								
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<th style="width: 50px;">20:40-<br>21:00</th>
					<td></td>
					<td>
						<span data-modaal-content-source="#session2_2_3_mod" class="modaal" id="session2_2_3">What IBM is thinking now<br>
							　ーA new community, IBM Community Japan, is launchedー</span><br>
						<p class="speaker">Speaker:Misaki Go</p>
						<div id="session2_2_3_mod" style="display:none;">
							<h4>Presentation overview of IBM Community Japan</h4>
							<p>
								Coming soon...
							</p>
						</div>
					</td>
				</tr>
			</table>
			<p>
				You can entry from <a href="https://iugc.connpass.com/event/176351/" class="btn-square-pop" target="blank">here!</a><br>
				(An external application site will open.)
			</p>

			<h3>Call for Speakers!</h3>
			<p>
				You can submit your CFP from <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
				class="btn-square-pop" target="blank">here</a>！<br>(Google Forms will open)
			</p>
			<div class="sns_share">
				<div class="fb_share">
					<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
				</div>
				<div class="twitter_share">
					<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" style="padding-top:5px" class="twitter-share-button" data-text="IBM User Group Conference に参加します！" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>				
				</div>
			</div>
		</section>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->

<div class="contents" id="speakers">

	<div class="inner">
	
	<section>
		<h2>Speakers<span></span></h2>
		
		<p>We'll be adding more and more gorgeous speakers in the future!
			You can submit your CFP from <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
			class="btn-square-pop" target="blank">here!</a>
		</p>

		<table>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/no-image.png"　tyle="width: 300px;"data-lightbox="group1" data-title="Takao Kaburaki<br>session:<br>About IBM Champion Program">
						<figure style="width: 150px;"><img src="../images/no-image.png" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="Takao_Kaburaki">
						Takao Kaburaki <a href="#session1_2_2">session:About IBM Champion Program</a><br>
						Takao Kaburaki is a Masters Student at Hosei Univerity, Tokyo where has been studying Computer and Information Sciences. He was recently announced Global Winner of the IBM Master the Mainframe Competition 2019. A competition which registered over twenty five thousand participants from almost four thousand institutions. Takao continues to develop his knowledge of the System Z platform, completing courses in COBOL and Blockchain Technologies.		
					</p>
				</td>	
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/Herbert_Daly.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="Herbert Daly<br>session:<br>About IBM Champion Program">
						<figure style="width: 150px;"><img src="../images/profiles/Herbert_Daly.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="Herbert_Daly">
						Herbert Daly <a href="#session1_2_2">session:About IBM Champion Program</a><br>
						Dr Herbert Daly is a Senior Lecturer in the School of Mathematics and Computer Science at the University of Wolverhampton, UK. An academic researcher in technical and socio-technical aspects of Enterprise Systems. He actively engages with new generation on System Z and engages with international initiatives such as the Master the Mainframe Competition, IBM Mainframe Summer School and the Open Mainframe Project. Dr Daly has been an IBM Champion for System Z since 2018.			
					</p>
				</td>	
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/daisuke_hiraoka.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="Daisuke Hiraoka<br>Session:<br>Modernization of Java EE Applications using Kabanero ~episode 0~">
						<figure style="width: 150px;"><img src="../images/profiles/daisuke_hiraoka.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="daisuke_hiraoka">
						Daisuke Hiraoka <a href="#session2_2_2">Session:Modernization of Java EE Applications using Kabanero ~episode 0~</a><br>
						He has been involved in a variety of businesses, including business and mission-critical systems as an engineer since 2002. Most recently, he has worked on various projects such as helping migrate from on-premise systems to IBM Cloud, containers, and He is focusing on OpenShift.<br>
						<a href="https://twitter.com/HiraokaDaisuke?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @HiraokaDaisuke</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/seigo_tanaka.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="Seigo Tanaka <br>Session:<br>AI, IoT, quantum computers, the cloud, what do we need to learn now?">
						<figure style="width: 150px;"><img src="../images/profiles/seigo_tanaka.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="seigo_tanaka">
						Seigo Tanaka <a href="#session1_1">Session:AI, IoT, quantum computers, the cloud, what do we need to learn now?</a><br>
						I’m developer based on front-end technology. And I’m collabolating it with information datas and user-interface such as Cloud technology , IoT , Mixed Reality and AI. And I spice these knowledges up Japan's first prototyping school "ProtoOutStudio" as a teacher.
						<br>
						<a href="https://twitter.com/1ft_seabass?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @1ft_seabass</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/kazuki_masuda.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="Kazuki Masuda <br>Session:<br>Improving answer adequacy with Watson Discovery">
						<figure style="width: 150px;"><img src="../images/profiles/kazuki_masuda.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="kazuki_masuda">
						Kazuki Masuda <a href="#session1_2_1">Session:Improving answer adequacy with Watson Discovery</a><br>
						JIMUC(Japan IBM Middleware User Community) vice-chairman<br>
						API&Watson Knowledgebase<br>
						Continued IBM Champion since 2016
						<br>
						<a href="https://twitter.com/masuda_kazuki?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @masuda_kazuki</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/kohei_nishikawa.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="Kohei Nishikawa <br>Session:<br>AI, IoT, quantum computers, the cloud, what do we need to learn now?">
						<figure style="width: 150px;"><img src="../images/profiles/kohei_nishikawa.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="kohei_nishikawa">
						Kohei Nishikawa <a href="#session1_1">Session:AI, IoT, quantum computers, the cloud, what do we need to learn now?</a><br>
						2020 IBM Champion / Teacher of Kaichi University.
						From 2017 to 2020, he was an instructor at the Watson Development Dojo, where he taught many cloud and Contributing to the development of AI human resources.
						He have been involved in the cloud for over a decade since the dawn of the cloud.
						And in April 2020, He appointed to his current position at Kaichi University.
						<br>
						<a href="https://twitter.com/kolinz?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @kolinz</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/miho_ezawa.jpg"　tyle="width: 300px;"data-lightbox="group1" data-title="Miho Ezawa <br>Session:<br>Does the AI eat good barbecue?">
						<figure style="width: 150px;"><img src="../images/profiles/miho_ezawa.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="miho_ezawa">
						Miho Ezawa <a href="#session2_1_1">Session:Does the AI eat good barbecue?</a><br>
						Development of an enterprise web portal product, an overseas transfer project for large-scale office management, a payment service After working as a field engineer, switched to corporate sales of advanced technology.
						2015年よりIBM Watsonに携わり、経営陣に多くのWatson導入を提案した経験を持つ。現在はAIコンサルタント、エンジニアとして企業のAI導入支援に従事している。
						2019/2020 IBM Champion.
						<br>
						<a href="https://twitter.com/mihoicchi?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @mihoicchi</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/yosuke_enomoto.jpeg" data-lightbox="group1" data-title="Yosuke Enomoto <br>Session:<br>Codewind makes easy Container Development">
						<figure style="width: 150px;"><img src="../images/profiles/yosuke_enomoto.jpeg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="yosuke_enomoto">
						Yosuke Enomoto <a href="#session2_1_2">Session:Codewind makes easy Container Development</a><br>
						Hosted bmxug.tokyo; recognized as an IBM Champion for 2019-2020 consecutive years made.
						<br>
						<a href="https://twitter.com/motumotuo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-text="I'll join at the IBM User Group Conference!" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Follow @motumotuo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
		</table>

		<h3 id="ibm_da">IBM Developer Advocate Japan Team</h3>
		<table>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/yasushi_osonoi.jpg" data-lightbox="group1" data-title="Yasushi Osonoi <br>Session:<br>IBM's future with the user community">
						<figure style="width: 150px;"><img src="../images/profiles/yasushi_osonoi.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;">
						Yasushi Osonoi<a href="#session2_1">Session:IBM's future with the user community</a><br>
						He started as a hardware engineer at a CPU manufacturer.
						In 2007 he started his own business with a passion for software and OSS optimization. 
						However, he later returned to work as an office worker. 
						He moved from job to job in marketing, pre-sales, and development engineering, and is now at IBM to support developer. 
						<br>
						<a href="https://twitter.com/osonoi?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @osonoi</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>					
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/aya_tokura.jpg" data-lightbox="group1" data-title="Aya Tokura <br>Session:<br>IBM's future with the user community<br>What developers can do now. Get to know the Call for Code Global Challenge!">
						<figure style="width: 150px;"><img src="../images/profiles/aya_tokura.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id='aya_tokura'>
						Aya Tokura <br><a href="#session2_1">Session:IBM's future with the user community</a>: <br><a href="#session1_2_3">What developers can do now. Get to know the Call for Code Global Challenge!</a><br>
						For about 17 years, she have been a security engineer, product marketer. And based on her extensive career as a technical evangelist and other knowledge. sshe is currently working for IBM. As a Developer Advocate, She've been working both domestically and internationally around IBM Cloud and Watson. 
						She is educating developers about the latest technology. 
						<br>
						<a href="https://twitter.com/ayatokura?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ayatokura</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/kyoko_nishito.jpg" data-lightbox="group1" data-title="Kyoko Nishito <br>Session:IBM's future with the user community">
						<figure style="width: 150px;"><img src="../images/profiles/kyoko_nishito.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;">
						Kyoko Nishito <a href="#session2_1">Session:IBM's future with the user community</a><br>
						She was mainly involved in the development and maintenance of IBM's internal systems, from requirement definition to maintenance, as a developer. 
						As a PM/Architect, she worked on production management systems, purchasing systems, and IT asset management for Japan. 
						<br>
						<a href="https://twitter.com/KyokoNishito?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @KyokoNishito</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/noriko_kato.jpg" data-lightbox="group1" data-title="Noriko Kato <br>Session:<br>IBM's future with the user community">
						<figure style="width: 150px;padding-bottom: 15px;"><img src="../images/profiles/noriko_kato.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;">
						Noriko Kato <a href="#session2_1">Session:IBM's future with the user community</a><br>
						She learned about IoT when taking care of my parents, and now I'm a "TJBot" paper robot at Razpai & Cloud and she engaged in promoting.
						Her hobby is now to look for good vintage whisky.
						<br>
						<a href="https://twitter.com/noricokt?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @noricokt</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">
					<a href="../images/profiles/taiji_hagino.jpg" data-lightbox="group1" data-title="Taiji Hagino <br>Session:<br>IBM's future with the user community<br>About IBM Champion Program">
						<figure style="width: 150px;"><img src="../images/profiles/taiji_hagino.jpg" alt=""></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id='taiji_hagino'>
						Taiji Hagino <a href="#session2_1">Session:IBM's future with the user community</a>：<a href="#session1_2_2">About IBM Champion Program</a><br>
						After becoming a software engineer, he started his own business. Currently, as a Developer Advocate in the IBM Global team, he is responsible for developer's marketing DevRel (developer relations) to reach out to engineers.Part-time teacher at the Tsukuba University.
						<br>
						<a href="https://twitter.com/taiponrock?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @taiponrock</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>					
					</p>
				</td>
			</tr>
		</table>
		<p></p>
		<div class="sns_share">
			<div class="fb_share">
				<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
			</div>
			<div class="twitter_share">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" style="padding-top:5px" class="twitter-share-button" data-text="IBM User Group Conference に参加します！" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>				
			</div>
		</div>		
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->


<div class="contents bg1" id="support">

	<div class="inner">
	
	<section>
	<h2>Support/Sponsorship</h2>
		<div style="text-align: center;">
			<p>
				This event is run by volunteers from each user community. <br>.
				Thank you to all the organizations, companies and individuals who are helping us.
			</p>	
		</div>
		<div style="display: flex;">
			<img src='../images/bmxug.jpg' class="top_image">
			<p>
				IBM Cloud User Group(BMXUG)<br>
				<a href="https://bmxug.connpass.com/" target="blank">HP</a>
				<a href="https://goo.gl/forms/sa8eHJLD6KlmD5sV2" target="blank">Join Slack</a>
				<a href="https://twitter.com/bluemixjp" target="blank">Twitter</a>
				<a href="https://www.facebook.com/groups/bmxug" target="blank">facebook</a> 	
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='../images/jimuc.png' class="top_image">
			<p>
				Japan IBM Middleware Users Community (JIMUC)<br>
				<a href="https://jimuc.amebaownd.com/" target="blank">HP</a>
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='../images/no-image.png' class="top_image">
			<p>
				Kabanero Meetup
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='../images/node-red-ico.png' class="top_image">
			<p>
				Node-RED User Group<br>
				<a href="https://nodered.jp/" target="blank">HP</a>
				<a href="https://nodered.jp/slack/" target="blank">Join Slack</a>
				<a href="https://twitter.com/noderedjp" target="blank">Twitter</a>
				<a href="https://www.facebook.com/groups/noderedjp/" target="blank">facebook</a>
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='../images/tjbot.jpg' class="top_image">
			<p>
				TJBot Fan
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='../images/no-image.png' class="top_image">
			<p>
				IBM Minarai-Tai
			</p>
		</div>
		<div style="display: flex;padding-top:10px">
			<img src='../images/no-image.png' class="top_image">
			<p>
				Watson-Cafe
			</p>
		</div>
	</section>

	</div>
	<!--/.inner-->

</div>

<div class="contents bg2" id="contact">

	<div class="inner">
	
	<section>

	<h2>Contact<span></span></h2>
		<p class="c"><span class="big1">Please use <a href="https://iugc.connpass.com/event/176351/" target="blank">Connpass</a>to contact us</p>
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div class="contents bg1" id="code_of_conduct">

	<div class="inner">
	
	<section>
		<h2>CODE OF CONDUCT<span></span></h2>
		<p>
			The event organizers are committed to ensuring that participants do not suffer human rights violations or discrimination.
			This event is designed to share technical information and collaboration among technologists.
			All participants, including speakers, viewers, sponsors and staff, must not engage in any form of harassment.
			If you witness or have concerns about harassment, please notify event staff immediately.
		</p>
		<h3>unacceptable behavior</h3>
		<ul>
			<li>Use of sexual language and images</li>
			<li>Personal Attacks</li>
			<li>Insulting/derogatory comments.</li>
			<li>Public or private harassment</li>
			<li>Disclosing the personal information of others without permission</li>
			<li>Other unethical practices</li>
		</ul>
		<span>This code of conduct is based on <a href="https://events.linuxfoundation.org/about/code-of-conduct/">Linux Foundation</a>。</span>
		<h3>Notices</h3>
		<p>
			The program is subject to change without notice.
			Neither the workshop nor the venue provider can be held liable for any disadvantage caused by accidents, natural disasters, or other events that occur during the workshop.
			Participants who behave in any of the following ways may be asked to leave the room. Please note that you may be asked to leave the room and will not be allowed to participate in the next session.
			Applications from those who have behaved in the following ways in the past may also be rejected There is a <br>.
			Words or actions that could be seen as a distraction to the instructor or participants, or solicitations for recruitment, job switching, pyramid selling, religion, etc. that are not related to the study group.
		</p>
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0&appId=216303409678802&autoLogAppEvents=1"></script>
<footer>
<small>Copyright&copy; <a href="index.html">IBM User Group Conference committee</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--lightbox用jsファイル読み込み-->
<script src="../js/lightbox-plus-jquery.min.js"></script>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

</body>
</html>
