<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101753399-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-101753399-2');
</script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IBM User Group Conference 2020 Event Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Today, IBM Cloud and OSS are constantly evolving and contributing to development.And many User Groups have been sending out various information.
The purpose of the IBM User Group Conference is to create an opportunity for these user groups to meet together and to communicate with people who are involved in the technology while touching the latest information.">
<meta name="keywords" content="IBM User Group Conference,IBM Cloud,IBM,User Group,Conference">
<meta property="og:description" content=" Today, IBM Cloud and OSS are constantly evolving and contributing to development.And many User Groups have been sending out various information.
The purpose of the IBM User Group Conference is to create an opportunity for these user groups to meet together and to communicate with people who are involved in the technology while touching the latest information." />
<meta property="og:url" content="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/en/" />
<meta property="og:type" content=" website" />
<meta property="og:title" content="IBM User Group Conference 2020 will be held!" />
<meta property="og:site_name" content="IBM User Group Conference 2020 Event Page" />
<meta property="og:image" content="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/images/logo.png" />
<meta name="twitter:card" content="summary" />
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/style-opening.css">
<link rel="stylesheet" href="../css/lightbox.min.css">
<link rel="stylesheet" href="../css/modaal.min.css">
<script src="../js/fixmenu_pagetop.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/scroll.js"></script>
<script src="../js/modaal.min.js"></script>
<script>$('.modaal').modaal();</script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<style>
#menubar {position:absolute;bottom:10%;}
#menubar li {width:15%;float:left;margin-left:3%;position:relative;}
#menubar li:hover {width:15%;}
</style>
<![endif]-->
</head>

<body>

<header>

<h1>IBM User Group Conference</h1>
<ul id="menubar">
	<li id="menu1"><a href="#news"><img src="../images/blumi.jpg" alt="bmxug-character"><span>About<br>Overview</span></a></li>
	<li id="menu2"><a href="#TableOfContents"><img src="../images/tjbot.jpg" alt="TJbot"><span>Table Of Contents<br>Session Timetable</span></a></li>
	<li id="menu3"><a href="#speakers"><img src="../images/jimuc.png" alt="JIMUC_LOGO"><span>Speakers<br>Introduction of the speakers</span></a></li>
	<li id="menu4"><a href="#contact"><img src="../images/contact.jpg" alt="Contact Us"><span>Contact<br></span></a></li>
	<li id="menu5"><a href="#"><img src="../images/conference-image.jpg" alt="conference-image"><span>IBM User Group Conference<br>2020</span></a></li>
</ul>

</header>

<div class="contents" id="news">
	<div style="text-align: center;">
		choose language:
		<a href="/">JAPANESE</a>
		<a href="/en">ENGLISH</a>	
	</div>

	<div class="inner">
		<section>
			<h2>What's New<span></span></h2>
			<dl id="new">
				<dt>2020/05/12</dt>
				<dd>Site Published.<span class="newicon">NEW</span></dd>
			</dl>

		</section>
		<section>
			<h2>IBM User Group Conference！</h2>

			<h3>Overview</h3>
			<p>
				Today, IBM Cloud and OSS are constantly evolving and contributing to development.And many User Groups have been sending out various information.
				The purpose of the IBM User Group Conference is to create an opportunity for these user groups to meet together and to communicate with people who are involved in the technology while touching the latest information.				
			</p>
			<h3>Schedule</h3>
			<p>
				Day 1 : Thursday, June 25, 2020 19:00 - 21:00 (JST)
			</p>
			<p>
				Day 2 : Friday, June 26, 2020 19:00 - 21:00(JST)
			</p>

			<h3>Operating Community List</h3>
				
			<div style="margin-left: 10px;">
				- IBM Cloud User Group(BMXUG) 
				<a href="https://bmxug.connpass.com/" target="blank">HP</a>
				<a href="https://goo.gl/forms/sa8eHJLD6KlmD5sV2" target="blank">Join Slack</a>
				<a href="https://twitter.com/bluemixjp" target="blank">Twitter</a>
				<a href="https://www.facebook.com/groups/bmxug" target="blank">facebook</a>
				<br>
				- Japan IBM Middleware Users Community (JIMUC)
				<a href="https://jimuc.amebaownd.com/" target="blank">HP</a>
				<br>
				- Kabanero Meetup
				<br>
				- Node-RED User Group
				<a href="https://nodered.jp/" target="blank">HP</a>
				<a href="https://nodered.jp/slack/" target="blank">Join Slack</a>
				<a href="https://twitter.com/noderedjp" target="blank">Twitter</a>
				<a href="https://www.facebook.com/groups/noderedjp/" target="blank">facebook</a>
				<br>
				- TJBot User Group
				<br>   
				- IBM MinaraiTai
				<br>
				- Suiyou-Watson-Cafe
				<br>
			</div>
			<p></p>
			<h3>How to Participate in the Conference</h3>
			<h4>Sessions</h4>
			<p>We plan to distribute it using some kind of platform. Please register <a href="https://iugc.connpass.com/event/176351/" class="btn-square-pop" target="blank">conpass</a> to be notified of what's new.(It will be delivered in Japanese.)</p>

			<h4>hands-on</h4>
			<p>It is a form of moving your hands while watching a video. Any questions along the way will be answered via Slack.</p>
			<p>
				Please register from <a href="https://iugc.connpass.com/event/176351/" class="btn-square-pop" target="blank">here</a><br>
				(The register-site (connpass) opens another tab.)
			</p>

			<h3>Calling speakers!</h3>
			<p>
				You can submit CFP from <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
				class="btn-square-pop" target="blank">here</a><br>(Google Forms)
			</p>
		</section>
		<div class="sns_share">
			<div class="fb_share">
				<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">share</a></div>
			</div>
			<div class="twitter_share">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="I&#39;ll join at the IBM User Group Conference!" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/en" data-hashtags="IBMUserGroupCon2020" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>			
			</div>
		</div>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->


<div class="contents bg1" id="TableOfContents">
	<div class="inner">
		<section>
			<h2>Table Of Content<span>Session Timetable</span></h2>
			<span>Click on the title to see the session details.</span>				
			<table class="ta1">
				<caption>Day 1</caption>
				<tr>
					<th>session lanes</th>
					<th>Cognitive Computing & AI</th>
					<th>Cloud-Native</th>
					<th>IoT</th>
					<th>Call for Code</th>
					<th>Think</th>
				</tr>
				<tr>
					<th>19:00-<br>20:00</th>
					<td colspan="5"> 
						Day1 Keynote：<br>(tentative) AI, IoT, quantum computing, cloud, what should we learn now?
					</td>
				</tr>
				<tr>
					<th>20:00-<br>20:20</th>
					<td>
						<span data-modaal-content-source="#session1_1_mod" class="modaal" id="session1_1">T.B.D 1-1</span><br>
						<a href="#speaker1">Speaker Information</a>
						<div id="session1_1_mod" style="display:none;">
							<h4>Title: T.B.D 1-1</h4>
							<p>Details T.B.D 1-1</p>
						</div>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:20-<br>20:40</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:40-<br>21:00</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<table class="ta1">
				<caption>Day 2</caption>
				<tr>
					<th>session lanes</th>
					<th>Cognitive Computing & AI</th>
					<th>Cloud-Native</th>
					<th>IoT</th>
					<th>Call for Code</th>
					<th>Think</th>
				</tr>
				<tr>
					<th>19:00-<br>20:00</th>
					<td colspan="5">  
						Day2 Keynote :<br> (tentative) Future vision of IBM and technology development
					</td>
				</tr>
				<tr>
					<th>20:00-<br>20:20</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:20-<br>20:40</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>20:40-<br>21:00</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<p>
				Please register from <a href="https://iugc.connpass.com/event/176351/" class="btn-square-pop" target="blank">here</a><br>
				(The register-site (connpass) opens another tab.)
			</p>

			<h3>Calling speakers!</h3>
			<p>
				You can submit CFP from <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTuz-Tzr_7uJba1_c4wJoju-ttRvssrb1-Hv3RnE7rsgY34g/viewform" 
				class="btn-square-pop" target="blank">here</a><br>(Google Forms)
			</p>
			<div class="sns_share">
				<div class="fb_share">
					<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">share</a></div>
				</div>
				<div class="twitter_share">
					<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="I&#39;ll join at the IBM User Group Conference!" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/en" data-hashtags="IBMUserGroupCon2020" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</section>
	</div>
	<!--/.inner-->
</div>
<!--/.contents-->

<div class="contents" id="speakers">

	<div class="inner">
	
	<section>
		<h2>Speakers<span></span></h2>
		
		<p>Information about the speakers</p>

		<table>
			<tr>
				<th>
					<a href="../images_photo/sample1.jpg" data-lightbox="group1" data-title="Name of the speaker">
						<figure style="width: 150px;"><img src="../images_photo/sample1_mini.jpg" alt="Name of the speaker"></figure>
					</a>
				</th>
				<td>
					<p style="margin-left: 10px;" id="speaker1">
						About Speaker(Example)<br>
						<a href="#session1_1">Speak session at...</a><br>
						<a href="https://twitter.com/motumotuo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-text="I&#39;ll join at the IBM User Group Conference!" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-hashtags="IBMUserGroupCon2020" data-show-count="false">Follow @motumotuo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</p>
				</td>
			</tr>
		</table>
		<p></p>
		<div class="sns_share">
			<div class="fb_share">
				<div class="fb-share-button" data-href="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fibm-user-group-conf.eu-de.cf.appdomain.cloud%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">share</a></div>
			</div>
			<div class="twitter_share">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="I&#39;ll join at the IBM User Group Conference!" data-url="https://ibm-user-group-conf.us-south.cf.appdomain.cloud/en" data-hashtags="IBMUserGroupCon2020" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>		
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div class="contents bg2" id="contact">

	<div class="inner">
	
	<section>

	<h2>Contact us<span></span></h2>
		<p class="c"><span class="big1">Please contact us via <a href="https://iugc.connpass.com/event/176351/" target="blank">Connpass</a>！</p>
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div class="contents bg1" id="code_of_conduct">

	<div class="inner">
	
	<section>
		<h2>CODE OF CONDUCT<span></span></h2>
		<p>
			Event organizers are committed to ensuring that participants are not subjected to human rights violations or discrimination.
			This event is aimed at sharing technical information and collaboration among engineers.
			All participants, including speakers, viewers, sponsors and staff, must not be involved in any form of harassment.
			If you witness or feel concerned about harassing behavior, please notify event staff immediately.
		</p>
		<h3>Unacceptable Behavior.</h3>
		<ul>
			Harassment will not be tolerated in any form, including but not limited to harassment based on gender, gender identity and expression, sexual orientation, disability,
			physical appearance, body size, race, age, religion or any other status protected by laws in which the conference or program is being held. 
			Harassment includes the use of abusive, offensive or degrading language, intimidation, stalking, harassing photography or recording, inappropriate physical contact, 
			sexual imagery and unwelcome sexual advances or requests for sexual favors. 
			Any report of harassment at one of our events will be addressed immediately. Participants asked to stop any harassing behavior are expected to comply immediately. 
			Anyone who witnesses or is subjected to unacceptable behavior should notify a conference organizer at once.
			Exhibitors should not use sexualized images, activities, or other material in their booths and must refrain from the use of sexualized clothing/uniforms/costumes, 
			or otherwise creating a sexualized environment. Speakers should not use sexual language, images, 
			or any language or images that would constitute harassment as defined above in their talks.
		</ul>
		<span>This Code of Conduct is modeled after the <a href="https://www.linuxfoundation.org/code-of-conduct/" target="blank">Linux Foundation</a>'s documentation.</span>
		<h3>Notes</h3>
		<p>
			The program content is subject to change without notice.
			Neither the seminar nor the venue provider shall be held liable for any loss or damage caused by accidents, natural disasters, or other events during the event.
			If you behave in any of the following ways, you may be asked to leave the room Please note that we will not be able to accept your participation in the next event.
			We may refuse applications from people who have behaved in any of the following ways in the past
			Any words, actions, or solicitation of lecturers or participants that are not related to the study group, such as recruitment, job change, pyramid selling, religion, etc.
		</p>
	</section>

	</div>
	<!--/.inner-->

</div>
<!--/.contents-->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0&appId=216303409678802&autoLogAppEvents=1"></script>
<footer>
<small>Copyright&copy; <a href="index.html">IBM User Group Conference Steering Committee</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--lightbox用jsファイル読み込み-->
<script src="../js/lightbox-plus-jquery.min.js"></script>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

</body>
</html>
